<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/higorlan_pfinance</property>
    <property name="hibernate.connection.username">pfinance</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.show_sql">false</property>
    <mapping resource="pfinance/model/entity/Categoria.hbm.xml"/>
    <mapping resource="pfinance/model/entity/DocumentoUsuario.hbm.xml"/>
    <mapping resource="pfinance/model/entity/TipoConta.hbm.xml"/>
    <mapping resource="pfinance/model/entity/Documento.hbm.xml"/>
    <mapping resource="pfinance/model/entity/Usuario.hbm.xml"/>
    <mapping resource="pfinance/model/entity/Caixa.hbm.xml"/>
    <mapping resource="pfinance/model/entity/MesRef.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
